fichero {
  background: #ff5733;
  color: black;
  font-size: 2rem;
  width: 95%;
  align-items: center;
  margin: 0.1rem auto;
  flex-basis: calc(50% - 1rem);
}
ficha {
  border: 0.1rem lightgoldenrodyellow solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2rem;
  margin: 1rem auto;
  width: 35%;
}
ficha[fechaingreso]::before {
  content: "Fecha de ingreso : " attr(fechaingreso);
  color: blue;
  font-weight: bold;
}
nombre,
apellido,
telefono,
email,
website,
dui,
iss,
afp {
  border: 0.01rem lightgoldenrodyellow solid;
  width: 100%;
  text-align: center;
}
